@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Regular.ttf); }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.promo {
  background: url("../img/Background.png") no-repeat 50% 50%;
  background-size: cover; }
  .promo .mobile-menu-icon {
    height: 60px;
    width: 60px; }

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 180px; }
  @media screen and (max-width: 500px) {
    .navigation {
      display: none; } }
  @media screen and (max-height: 770px) {
    .navigation {
      color: red;
      padding-bottom: 100px; } }
  .navigation .logo {
    height: 55px;
    margin-left: 100px;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
            flex-grow: 2; }
    .navigation .logo .logo-1 {
      display: inline-block;
      background: url("../img/B.png") 50% 50% no-repeat;
      background-color: white;
      width: 52px;
      height: 49px;
      border: 3px solid white; }
    .navigation .logo .logo-2 {
      position: relative;
      display: inline-block;
      background: url("../img/INO.png") 50% 50% no-repeat;
      width: 99px;
      height: 49px;
      border: 3px solid white;
      left: -5px; }
  .navigation .menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 0;
    margin: 0;
    margin-right: 100px;
    list-style: none;
    font-family: Open Sans;
    font-size: 14px;
    text-transform: uppercase;
    color: #f4f5f9;
    -webkit-box-flex: 2.5;
    -webkit-flex-grow: 2.5;
        -ms-flex-positive: 2.5;
            flex-grow: 2.5; }
    .navigation .menu .menu-item {
      white-space: nowrap;
      display: inline-block;
      padding: 15px 10px;
      cursor: pointer;
      border: 2px solid transparent;
      -webkit-transition: -webkit-transform ease 0.3s;
      transition: -webkit-transform ease 0.3s;
      transition: transform ease 0.3s;
      transition: transform ease 0.3s, -webkit-transform ease 0.3s; }
      .navigation .menu .menu-item:hover {
        -webkit-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
                transform: translateY(-5px);
        color: #e74c3c;
        border-bottom: 2px solid #e74c3c; }
    .navigation .menu .active {
      -webkit-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
              transform: translateY(-5px);
      color: #e74c3c;
      border-bottom: 2px solid #e74c3c; }

@media screen and (max-width: 500px) {
  .slider {
    display: none; } }

.arrow {
  position: absolute;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #45576e;
  top: 420px;
  cursor: pointer;
  z-index: 20; }
  @media screen and (max-height: 770px) {
    .arrow {
      top: 320px; } }
  .arrow:hover {
    background-color: #e74c3c; }

.left-arrow {
  left: 80px;
  background-image: url("../img/angle-disabled-left.png");
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  .left-arrow:hover {
    background-image: url("../img/angle-left.png"); }

.right-arrow {
  right: 80px;
  background-image: url("../img/angle-disabled-right.png");
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  .right-arrow:hover {
    background-image: url("../img/angle-right.png"); }

.main-part {
  color: #f4f5f9;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-family: Open Sans;
  padding-bottom: 200px; }
  @media screen and (max-height: 770px) {
    .main-part {
      padding-bottom: 150px; } }
  .main-part .ourPriority {
    font-size: 24px;
    letter-spacing: 1.2px;
    padding-bottom: 25px; }
  .main-part .greeting {
    font-size: 72px;
    font-weight: bold;
    letter-spacing: 7.2px;
    padding-bottom: 25px;
    text-transform: uppercase; }
  .main-part .separator {
    padding-bottom: 25px; }
    .main-part .separator .circle {
      margin: 0 auto;
      height: 7px;
      width: 7px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #e74c3c; }
    .main-part .separator .circle::before {
      content: '';
      display: block;
      position: relative;
      left: -85px;
      top: 3px;
      width: 80px;
      height: 0.6px;
      background-color: #f1ebe7; }
    .main-part .separator .circle::after {
      content: '';
      display: block;
      position: relative;
      left: 12px;
      top: 2.4px;
      width: 80px;
      height: 0.6px;
      background-color: #f1ebe7; }
  .main-part .content {
    font-size: 14px;
    line-height: 1.71;
    padding-bottom: 50px; }

.buttons {
  width: 55%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 150px; }

.main-part-button {
  font-family: Open Sans;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  width: 225px;
  font-size: 13.8px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform ease 0.2s;
  transition: -webkit-transform ease 0.2s;
  transition: transform ease 0.2s;
  transition: transform ease 0.2s, -webkit-transform ease 0.2s; }
  .main-part-button:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.main-part-button-1 {
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
  -webkit-box-shadow: 0px 2px 4.8px 0.3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 4.8px 0.3px rgba(0, 0, 0, 0.25);
  margin-right: 30px; }

.main-part-button-2 {
  border: 1px solid white; }
